.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5A5966;
  color: #fff;
  text-align: center;
}

.framework {
  width: 900px;
  background-color: #070F2B;
  border-radius: 2%;
  border: 2px solid black;
}

.title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: auto;
  user-select: none;
}

.info-1,
.info-2,
.info-3 {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 10px;
}

.info-1 p,
.info-2 p,
.info-3 p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1rem;
  text-decoration: underline;
  margin: 10px;
}

.infinitive-list {
  background-color: #1B1A55;
  width: 33%;
}

.tense-list {
  background-color: #535C91;
  width: 33%;
}

.active-option:hover, .inactive-option:hover {
  color: red;
  text-shadow: -0.5px -0.5px 0.5px red,
      0.5px -0.5px 0.5px red,
      -0.5px 0.5px 0.5px red,
      0.5px 0.5px 0.5px red;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: -2px -2px 2px 1px rgb(0 0 0 / 10%),
    -2px 2px 2px 1px rgb(0 0 0 / 10%),
    2px -2px 2px 1px rgb(0 0 0 / 10%),
    2px 2px 2px 1px rgb(0 0 0 / 10%);
}

.active-option {
  cursor: pointer;
  color: #333;
  text-shadow: -1px -1px 3px #fff,
    1px -1px 3px #fff,
    -1px 1px 3px #fff,
    1px 1px 3px #fff;
}

.inactive-option {
  cursor: pointer;
  color:#333;
  text-decoration: line-through;
  font-weight: bolder;
}



.person-list {
  background-color: #9290C3;
  width: 33%;
}

.row-selection {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
}

.row-selection h3 {
  background-color: #9290C3;
  width: 33%;
  height: 5vh;
  margin: 0;
  padding: 1vh;
  border: 1px solid black;
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.user-text {
  width: 100%;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 0;
  border: 0;
}

input {
  border-bottom: 4px solid red;
}


#correct-answer {
  font-weight: bold;
  color: #00BB32;
  background-color: #e0f7d4;
  border: 1px solid #48bb78;
}

#incorrect-answer {
  font-weight: bold;
  color: #FF1500;
  background-color: #fbd5d5;
  border: 1px solid #f56565;
}


/*----------------------------- Buttons ----------------------*/

.button-group {
  height: 5vw;
  min-height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}


.main-button, .top-button {
  background-color: #fff;
  color: #3B3B3B;
  border: 2px solid #1A1A1A;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 600;
  outline: none;
  padding: 5px auto;
  margin: auto;
  text-align: center;
  cursor: pointer;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  min-height: 40px;
  width: 15%;
  min-width: 50px;
  will-change: transform;

}


.main-button:hover, .top-button:hover {
  color: #fff;
  background-color: #1B1A55;
  border: 2px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  box-shadow: 5px 5px 10px #1D3DB3, 5px -5px 10px #1D3DB3, -5px -5px 10px #1D3DB3, -5px 5px 10px #1D3DB3;
}

.main-button:active, .top-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.top-button {
  width: 40px;
  height: 40px;
  margin: 1vw;
  border-radius: 33%;
}

/* ---------------------- Responsiveness ---------------------*/

@media (max-width: 900px) {

  .App {
    align-items: flex-start;
  }

  .framework {
    max-width: 95vw;
    border-radius: 5%;
  }

  .row-selection {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  .user-text {
    font-size: 1.3rem;
  }
}

@media (max-width: 520px) {

  .info-1 p,
  .info-2 p,
  .info-3 p {
    margin: 2px 0;
    font-size: 0.8rem;
  }

  .row-selection {
    font-size: 0.8rem;
  }
  .row-selection h3 {
    padding: 0.4vh;
    height: 2rem;
  }

  h1 {
    font-size: 1.1rem;
    margin: 0.4vh;
  }

  .framework > p {
    margin: 0;
  }

  h2 {
    margin: 2px;
  }

  .user-text {
    font-size: 1rem;
    height: 2rem;
  }

  .main-button {
    padding: 3px auto;
    width: 80px;
  }

  .info-2, .info-3 {
    padding: 3px;
    margin: 3px;
  }

  .infinitive-list {
    display: none;
  }

  .person-list, .tense-list {
    width: 50%;
  }

  .framework {
    position: sticky;
    top: 5px;
  }
}

@media (max-width: 750) and (orientation: landscape) and (min-aspect-ratio: 1/1) {

  .framework {
    border-radius: 2%;
  }

  .info-1,
  .info-2,
  .info-3 {
    display: none;
  }

  .row-selection {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  .user-text {
    font-size: 1rem;
  }
}